<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/header.css">
    <title>Home</title>
    
</head>
<body>
<!-- 헤더 -->
<div class="header">
    <div class="logo">대구 DAY</div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/front/newsList">전체</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/front/newsList/ItScience">IT과학</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/front/newsList/economy">경제</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/front/newsList/society">사회</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/front/newsList/culture">생활문화</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/front/newsList/world">세계</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/front/newsList/sports">스포츠</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/front/newsList/politics">정치</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/front/newsList/corona">코로나</a>
                    </li>
                    <li class="nav-item">
                        <!-- <a sec:authorize="isAuthenticated()" class="nav-link" href="/user/logout">로그아웃</a> -->
                        <a sec:authorize="!isAuthenticated()" class="nav-link" href="/front/login">로그인</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>