<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>헤드라인</th> </tr>
            </thead>
            <tbody>
            <tr th:each="news : ${newslist}">
                <td th:text="${news.headline}"></td>
                <td th:text="${news.url}"></td>
                <td th:text="${news.date}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>